.content {
	width: 100%;
}

.tab-container {
	width: 80%;
	margin: 0 auto;
}

.document-tab {
	padding: 30px;
}

.job-tab {
	padding: 30px;
}

.force-remove-border {
	border: none !important;
	box-shadow: none !important;
}

.add-argin-1 {
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}

.job-detail {
	width: 94%; 
	margin: 0 auto;
}

#job_detail_modal {
	font-size: 1.1em; 
}

#file_detail_modal {
	font-size: 1.1em; 
}


body {
	height: 100%;
	background-color: rgb(221, 234, 251);
}
#mainContent {
	height: 85%;
	margin-top: 75px;
	margin-bottom: -100px;
}
#footer {
	background-color: rgba(120, 173, 239, 0.4);
	height: 100px;
}
#top {
	background-color: rgba(155, 196, 58, 0.4);
	
}