#name-nav {
	display: none;
}
#toc {
	font-size: 1.5rem;
	background-color: rgb(221, 234, 251);
	position: fixed;
	color:  #000000;
}
body {
	background-color: rgb(221, 234, 251);
}

.ui.vertical.inverted.menu .menu .item, .ui.vertical.inverted.menu .menu .item a:not(.ui) {
	color: black;
}
.tocmenu {
	color: black;
}
#top {
	font-weight: bolder;
}
#mainContent {
    padding-top: 0;
}
.ten.wide.column > div {
	margin-bottom: 50px;
}
.jobbox {
	text-align: center;
}