#name-nav {
	display: none;
}
#toc {
	font-size: 1.5rem;
	background-color: rgb(221, 234, 251);
	position: fixed;
	color:  #000000;
}
body {
	background-color: rgb(221, 234, 251);
}
.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
	color: black;
}
.ui.vertical.inverted.menu .menu .item, .ui.vertical.inverted.menu .menu .item a:not(.ui) {
	color: black;
}