<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	
	<link href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.js"></script>
	<script src="http://cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<link href="css/profile/profile.css" rel="stylesheet">

</head>

<body ng-app="profileApp" ng-controller="profileController as ctrl">
	<!-- 菜单栏 -->
	<div class="ui inverted borderless menu" id="top"> 
		<div class="ui container">
			<a href="#" class="header item"><img src="./images/icon.png" class="ui centered mini image"></a>
			<a href="#" class="item">查看信息</a>
			<a href="#" class="item">帮助</a>
			<div class="right menu" id="name-nav">
				<a class="right item" id="userName" href="/profile">用户名</a>
				<a class="right item" id="logOut">退出</a>
			</div>
		</div>
	</div>
	<div class="content" id="mainContent">
		<div class="tab-container">
			<div class="ui top attached tabular menu">
				<a class="item active" data-tab="first">Documents</a>
				<a class="item" data-tab="second">Jobs</a>
			</div>
			<div class="ui bottom attached tab segment active" data-tab="first">
				<div class="document-tab">
					<div id="document_dimmer" class="ui active inverted dimmer">
						<div class="ui medium text loader">Loading</div>
					</div>
					
					<table class="ui table">
						<thead>
							<tr>
								<th colspan="4">
									Your Location: 
									<div style="margin-left: 10px;"class="ui breadcrumb">
										<ng-repeat ng-repeat="loc in ctrl.locs">
											<i ng-if="!$first" class="right chevron icon divider"></i>
											<a ng-if="$last == false" ng-click="ctrl.getSubFiles(true, false, loc.name, loc.id)" class="section">{{ loc.name }}</a>
											<div ng-if="$last == true" class="active section">{{ loc.name }}</div>
										</ng-repeat>
									</div>
								</th>
							</tr>
							<tr>
								<th>Name</th>
								<th>Size(B)</th>
								<th>Last Modified</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="file in ctrl.viewing_files">
								<td ng-if="file.file_type == 'DIR'" ng-click="ctrl.getSubFiles(false, false, file.name, file.pk)" style="cursor:pointer">
									<i class="folder icon"></i> {{ file.name }}
								</td>
								<td ng-if="file.file_type == 'FILE'" ng-click="ctrl.getFile(file.pk)" style="cursor:pointer">
									<i class="file outline icon"></i> {{ file.name }}
								</td>
								<td>{{ file.size }}</td>
								<td>{{ file.modified | date: 'medium': '+8000' }}</td>
								<td>
									<div  class="right floated red ui small button" ng-click="ctrl.deleteFile(file.pk)">Delete</div>
								</td>
							</tr> 
						</tbody>
						<tfoot class="full-width">
							<tr>
								<th colspan="4">
									<div id="upload_document" class="ui right floated small primary labeled icon button"><i class="file icon"></i>Upload a File</div>
									<div id="create_folder" class="ui right floated small olive labeled icon button"><i class="folder open outline icon"></i>Create a Folder</div>
									<div  class="ui right floated small teal labeled icon button" ng-click="ctrl.getSubFiles(false, true, '', -1)"><i class="refresh icon"></i> Refresh</div>
								</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>

			<div class="ui bottom attached tab segment" data-tab="second">
				<div class="job-tab">
					<div id="job_dimmer" class="ui inverted dimmer">
						<div class="ui medium text loader">Loading</div>
					</div>
					<table class="ui table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="job_body">
							<tr ng-repeat="job in ctrl.jobs">
								<td><b>{{ job.name }}</b></td>
								<td>{{ job.start_time | date: 'medium': '+8000' }}</td>
								<td>{{ job.end_time | date: 'medium': '+8000' }}</td>
								<td>
									<i ng-if="job.status_num == 1" class="green checkmark icon"></i>
									<i ng-if="job.status_num == -1" class="red icon close"></i>
									<i ng-if="job.status_num == 0" class="yellow attention icon"></i>
									{{ job.status }}
								</td>
								<td class="right aligned">
									<div class="view-job green ui small button" ng-click="ctrl.getJob(job.id)">View</div>
									<div ng-if="job.status_num_2 == 1" class="red ui small button" ng-click="ctrl.deleteJob(job.id)">Delete</div>
									<div ng-if="job.status_num_2 == 0" class="orange ui small button" ng-click="ctrl.abortJob(job.id)">Abort</div>
								</td>
							</tr>
						</tbody>
						<tfoot class="full-width">
							<tr>
								<th colspan="6">
									<div id="start_job" class="ui right floated small primary labeled icon button"><i class="tasks icon"></i> Start a Job</div>
									<div  class="ui right floated small teal labeled icon button" ng-click="ctrl.getAllJobs()"><i class="refresh icon"></i> Refresh</div>
								</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div id="document_upload_form_modal"class="ui small test modal">
		<div class="header">Upload a Document </div>
		<div class="content">
			<form id="document_upload_form" class="ui form">
				<div class="field" id="document_upload_file_div">
					<label>File</label>
					<input type="file" name="file_uploaded" id="document_upload_file">
				</div>
				<div class="field">
					<label>Name</label>
					<input id="document_upload_name" type="text" name="name" placeholder="File Name">
				</div>
				<div class="field" hidden="">
					<label>File Type</label>
					<input type="text" name="file_type" value="FILE" id="document_upload_type" readonly="">
				</div>
				<div class="field" hidden="">
					<label>Permission</label>
					<input type="text" name="permision" value="none" readonly="">
				</div>
				<div class="field" hidden="">
					<label>Parent</label>
					<input ng-value="ctrl.current_parent_url" type="text" name="parent" value="" readonly="">
				</div>
			</form>
		</div>
		<div class="actions">
			<div class="ui negative button" >Cancel</div>
			<div class="ui positive right labeled icon button" ng-click="ctrl.uploadFile()">Upload <i class="checkmark icon"></i> </div>
		</div>
	</div>

	<div id="job_start_form_modal"class="ui small test modal">
		<div class="header">Start a Job </div>
		<div class="content">
			<form id="job_start_form" class="ui form">
				<div class="field">
					<label>Name</label>
					<input type="text" name="name" placeholder="Job Name">
				</div>
				<div class="field">
					<label>Description</label>
					<textarea rows="2" name="description" placeholder="Job Description"></textarea>
				</div>
				<div class="field">
					<label>Parameters</label>
					<textarea rows="1" name="parameters" placeholder="The parameters used in your job"></textarea>
				</div>
				<div class="field">
					<label>Code File Id</label>
					<input type="text" name="code_files" placeholder="The id of your file" value="19">
				</div>
			</form>
		</div>
		<div class="actions">
			<div class="ui negative button" >Cancel</div>
			<div class="ui positive right labeled icon button" ng-click="ctrl.startJob()">Start <i class="checkmark icon"></i> </div>
		</div>
	</div>

	<div id="document_upload_progress_modal" class="ui small test modal">
		<div id="progress_modal_header" class="header">Result</div>
		<div class="content">
			<div id="progress_modal_bar" class="ui progress">
				<div class="bar">
					<div class="progress"></div>
				</div>
				<div id="progress_modal_bar_message" class="label">Uploading to Server</div>
			</div>
			<p id="progress_modal_message"></p>
		</div>
		<div class="actions">
			<div id="progress_modal_button" class="ui positive right labeled icon button">Do in Background </div>
		</div>
	</div>

	<div id="public_result_modal" class="ui small test modal">
		<div id="result_modal_header" class="header">Result</div>
		<div class="content">
			<div class="ui segment force-remove-border add-margin-1">
				<p id="result_modal_message"></p>
				<div id="result_modal_loader" class="ui active inverted dimmer">
					<div id="result_modal_loader_text" class="ui text loader">Starting</div>
				</div>
			</div>
		</div>
		<div class="actions">
			<div id="result_modal_button" class="ui positive right labeled icon button">Do in Background <i class="checkmark icon"></i> </div>
		</div>
	</div>

	<div id="job_detail_modal" class="ui small test modal column">
		<div id="detail_modal_loader" class="ui active inverted dimmer">
			<div class="ui text loader">Loading</div>
		</div>
		<div class="content">
			<div class="ui teal horizontal label">Name</div>
			<span ng-bind="ctrl.viewing_job.name"></span>
			<div class="ui divider"></div>
			<div class="ui teal horizontal label">Description</div>
			<span ng-bind="ctrl.viewing_job.description">loading...</span>
			<div class="ui divider"></div>
			<div class="ui teal horizontal label">Start Time</div>
			<span ng-bind="ctrl.viewing_job.start_time | date: 'medium': '+8000'">loading...</span>
			<div class="ui divider"></div>
			<div class="ui teal horizontal label">End Time</div>
			<span ng-bind="ctrl.viewing_job.end_time | date: 'medium': '+8000'">loading...</span>
			<div class="ui divider"></div>
			<div class="ui teal horizontal label">Status</div>
			<span ng-bind="ctrl.viewing_job.status">loading...</span>
			<div class="ui divider"></div>
			<div class="ui teal horizontal label">Parameters</div>
			<span ng-bind="ctrl.viewing_job.parameters">loading...</span>
			<div class="ui divider"></div>
			<div class="ui teal horizontal label">Code File</div>
			<span ng-bind="ctrl.viewing_job.code_files[0].hdfs_path">loading...</span>
		</div>
		<div class="actions">
			<div class="ui positive right labeled icon button">OK <i class="checkmark icon"></i> </div>
		</div>
	</div>

	<div id="file_detail_modal" class="ui long test modal scrolling">
		<div id="detail_modal_loader_2" class="ui active inverted dimmer">
			<div class="ui text loader">Loading</div>
		</div>
		<div class="content">
			<div class="ui teal horizontal label">Id</div>
			<span ng-bind="ctrl.viewing_file.pk"></span>
			<div class="ui divider"></div>
			<div class="ui teal horizontal label">Name</div>
			<span ng-bind="ctrl.viewing_file.name"></span>
			<div class="ui divider"></div>
			<div class="ui teal horizontal label">Last Modified</div>
			<span ng-bind="ctrl.viewing_file.modified | date: 'medium': '+8000'"></span>
			<div class="ui divider"></div>
			<div class="ui teal horizontal label">Path</div>
			<span ng-bind="ctrl.viewing_file.hdfs_path"></span>
			<div class="ui divider"></div>
			<p>
				Content:
			</p>
		</div>
		<div class="actions">
			<div class="ui positive right labeled icon button">OK <i class="checkmark icon"></i> </div>
		</div>
	</div>
<div class="ui inverted vertical footer segment" id="footer">
    <div class="ui center aligned container">
      <img src="./images/icon.png" class="ui centered mini image">
      <span>Hadark</span>
    </div>
  </div>
<script src="js/profile/basis.js"></script>
<script src="js/profile/profile_service.js"></script>
<script src="js/profile/profile_controller.js"></script>
<script src="js/profile/profile.js"></script>

</body>
</html>